<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Temas</h4>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>Con el sidebar claro</b></li>
                        <li><a #linkCheck1 (click)="cambiarColor('default', linkCheck1)" data-theme="default" class="selector default-theme">1</a></li>
                        <li><a #linkCheck2 (click)="cambiarColor('green', linkCheck2)" data-theme="green" class="selector green-theme">2</a></li>
                        <li><a #linkCheck3 (click)="cambiarColor('red', linkCheck3)" data-theme="red" class="selector red-theme">3</a></li>
                        <li><a #linkCheck4 (click)="cambiarColor('blue', linkCheck4)" data-theme="blue" class="selector blue-theme">4</a></li>
                        <li><a #linkCheck5 (click)="cambiarColor('purple', linkCheck5)" data-theme="purple" class="selector purple-theme">5</a></li>
                        <li><a #linkCheck6 (click)="cambiarColor('megna', linkCheck6)" data-theme="megna" class="selector megna-theme">6</a></li>

                        <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
                        <li><a #linkCheck7 (click)="cambiarColor('default-dark', linkCheck7)" data-theme="default-dark" class="selector default-dark-theme">7</a></li>
                        <li><a #linkCheck8 (click)="cambiarColor('green-dark', linkCheck8)" data-theme="green-dark" class="selector green-dark-theme">8</a></li>
                        <li><a #linkCheck9 (click)="cambiarColor('red-dark', linkCheck9)" data-theme="red-dark" class="selector red-dark-theme">9</a></li>
                        <li><a #linkCheck10 (click)="cambiarColor('blue-dark', linkCheck10)" data-theme="blue-dark" class="selector blue-dark-theme">10</a></li>
                        <li><a #linkCheck11 (click)="cambiarColor('purple-dark', linkCheck11)" data-theme="purple-dark" class="selector purple-dark-theme">11</a></li>
                        <li><a #linkCheck12 (click)="cambiarColor('megna-dark', linkCheck12)" data-theme="megna-dark" class="selector megna-dark-theme">12</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>